.Player {
    width: 360px;
    margin-top: 4px;
    display: flex;
    background: #5D6E82;
    padding: 3px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
}

.Player:last-of-type {
    margin-bottom: 5px;
}

.Player__name {
   width: 220px;
}

.Score {
    display: flex;
    line-height: 30px;
    width: 20px;
  }

.Player__score {
    display: block;
    text-align: center;
    width: 20px;
}

.Player__button {
    height: 100%;
    width: 10px;
    font-size: 19px;
    border: 3px solid #D9674F;
    border-radius: 3px;
    background: #6B6167;
    color: #EBE0D2;
  }

.delete {
    background: #D9674F;
  }
