*{
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    background: #EBE0D2;
}

.App {
    height: 200vh;
    background: #6B6167;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 500px;
    min-height: 320px;
    margin-top: 100px;
    background: #B3ACB2;
    border: 10px #F4C580 solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
